
<div class="hero">
  <div class="hero_image">
    <div class="" data-src="{{ site.baseurl }}{{ page.image }}">
      <div class="caption" data-caption="{{image.caption}}">
      </div>
    </div>
  </div>
</div>



<script>
  //take care of bg image
  var list = document.querySelectorAll("div[data-src]");

    for (var i = 0; i < list.length; i++) {
    var url = list[i].getAttribute('data-src');
    list[i].style.backgroundImage="url('" + url + "')";
  }
  //take care of image caption
  var list = document.querySelectorAll("div[data-caption]");

    for (var i = 0; i < list.length; i++) {
    var string = list[i].getAttribute('data-caption');
    list[i].innerHTML+= string ;
  }
</script>
